html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bgColor);
    transition: background 750ms ease-in-out;
}

h1 {
    font-size: var(--fontsize);
    font-family: 'Open Sans', sans-serif;
    color: #ebebeb;
    height: 100%;
    display: flex;
    align-items: center;
    text-shadow: 0px 0px var(--scale) var(--dropShadowMark);
}

h1.red {
    color: var(--red_color);
    opacity: .75;
}

h1.green {
    color: var(--green_color);
    opacity: .75;
}

h1.red.noJS {
    text-align: center;
    font-size: 20px;
}

.header {
    position: absolute;
    transition: opacity .5s ease-in-out;
    top: 0;
}

h1.title {
    font-size: calc(var(--fontsize) * 1.5);
    display: inline-block;
    line-height: .75em;
    text-align: center;
}

span {
    display: inline-block;
}

span.green {
    text-shadow: 0.25px 0.25px hsl(142deg 78% 72%), 0.5px 0.5px hsl(142deg 78% 72%), 0.75px 0.75px hsl(142deg 78% 72%), 1px 1px hsl(142deg 78% 72%), 1.25px 1.25px hsl(142deg 78% 72%), 1.5px 1.5px hsl(142deg 78% 72%), 1.75px 1.75px hsl(142deg 78% 72%), 2px 2px hsl(142deg 78% 72%), 2.25px 2.25px hsl(142deg 78% 72%), 2.5px 2.5px hsl(142deg 78% 72%), 2.75px 2.75px hsl(142deg 78% 72%), 3px 3px hsl(142deg 78% 72%), calc(var(--fontsize) / 5) calc(var(--fontsize) / 5) calc(var(--fontsize) * .6) rgba(0,0,0,.7);
}

span.red {
    text-shadow: 0.25px 0.25px hsl(359deg 78% 72%), 0.5px 0.5px hsl(359deg 78% 72%), 0.75px 0.75px hsl(359deg 78% 72%), 1px 1px hsl(359deg 78% 72%), 1.25px 1.25px hsl(359deg 78% 72%), 1.5px 1.5px hsl(359 78% 72% / 1), 1.75px 1.75px hsl(359deg 78% 72%), 2px 2px hsl(359 78% 72% / 1), 2.25px 2.25px hsl(359deg 78% 72%), 2.5px 2.5px hsl(359deg 78% 72%), 2.75px 2.75px hsl(359deg 78% 72%), 3px 3px hsl(359deg 78% 72%), calc(var(--fontsize) / 5) calc(var(--fontsize) / 5) calc(var(--fontsize) * .6) rgba(0,0,0,.7);
}

span.firstword {
    transform: rotate(-2deg);
}

span.secondword {
    transform: rotate(1deg);
    margin-right: .5em;
}

span.thirdword {
    margin-left: 1em;
    transform: rotate(-1deg);
}

.optionyes {
    margin-right: 5vmin;
    cursor: pointer;
    filter: brightness(1);
}

.optionno {
    margin-left: 5vmin;
    cursor: pointer;
    filter: brightness(1);
}

.optionno:focus-visible,
.optionyes:focus-visible,
.optionyes:hover,
.optionno:hover {
    transition: filter .125s ease-in;
    filter: brightness(0.95) !important;
    transform: scale(.95);
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

.board {
    margin: calc(var(--gridwidth) * 0.035);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--gridwidth);
}

.grid {
    width: var(--gridwidth);
    height: var(--gridwidth);
    margin-bottom: var(--marginbottom);
    position: relative;
    opacity: 0;
    transition: opacity .5s ease-in;
}

.grid:before {
    content: '';
    width: 0;
    height: 0;
    background-color: var(--bgColor);
    position: absolute;
    z-index: 3;
    border-radius: 20px;
    filter: drop-shadow(calc(var(--scale) * -.2) calc(var(--scale) * .5) calc(var(--scale) * .8) var(--dropShadowMark));
}

.grid.vertical:before {
    width: calc(var(--gridwidth) * 0.04386);
    top: 50%;
    margin-left: calc(-1 * ((var(--gridwidth) * 0.04386) /2));
    margin-top: calc(-1 * ((var(--gridwidth) * .95614) / 2));
    transition: height .2s ease-out, background 750ms ease-in-out;
}

.grid.horizontal:before {
    height: calc(var(--gridwidth) * 0.04386);
    left: 50%;
    margin-top: calc(-1 * ((var(--gridwidth) * 0.04386) /2));
    margin-left: calc(-1 * ((var(--gridwidth) * .95614) / 2));
    transition: width .2s ease-out, transform .4s ease-in, background 750ms ease-in-out;
}

.grid.extendv:before {
    height: calc(var(--gridwidth) * 0.95614);
}

.grid.extendh:before {
    width: calc(var(--gridwidth) * 0.95614);
}

.grid.middle:before {
    left: 50%;
}

.grid.left:before {
    left: calc(100% * (1 / 6));
}

.grid.right:before {
    left: calc(100% * (5 / 6));
}

.grid.center:before {
    top: 50%;
}

.grid.top:before {
    top: calc(100% * (1 / 6));
}

.grid.bottom:before {
    top: calc(100% * (5 / 6));
}

.grid.tl:before {
    transform: rotate(45deg);
    transition: width .2s ease-out, transform .4s ease-in 200ms, background 750ms ease-in-out;
}

.grid.bl:before {
    transform: rotate(-45deg);
    transition: width .2s ease-out, transform .4s ease-in 200ms, background 750ms ease-in-out;
}

.square {
    width: var(--squarewidth);
    height: var(--squarewidth);
    background-color: var(--rectColor);
    border-radius: calc(var(--squarewidth) / 10);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    float: left;
    margin: var(--square_margin);
}

.square:focus-visible {
    box-shadow: 0 0 8px 2px #1a1a1a;
    outline: none;
}

.noScores,
.popup {
    position: absolute;
    opacity: 1;
    z-index: 5;
    transition: opacity .5s ease-in-out;
    transition-delay: 250ms;
}

.screen {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: opacity .5s ease-in-out;
}

.i {
    animation-name: blip;
    animation-duration: 1250ms;
}

.i:before {
    transition: transform .5s ease-in;
    content: ' ';
    width: var(--squarewidth);
    height: var(--squarewidth);
    background-color: black;
    border-radius: 50%;
    opacity: .07;
    transform: scale(0);
    animation-name: grow-shrink;
    animation-duration: 1250ms;
    position: absolute;
    z-index: 2;
}

.clickable {
    cursor: pointer;
}

.mark {
    transition: opacity .5s ease-in-out;
}

.markScore,
.mark {
    height: 100%;
    opacity: .75;
    z-index: 1;
    filter: drop-shadow(calc(var(--scale) / -5) calc(var(--scale) / 2.5) calc(var(--scale) / 2) var(--dropShadowMark));
}

.mark.touched {
    animation-name: shrink-grow;
    animation-duration: 1000ms;
}

.shapeShadow {
    fill: var(--accent);
    transition: fill 750ms ease-in-out;
}

.xTop {
    fill: #fb6666;
}

.oTop {
    fill: #66fb9a;
}

.turnInfoText {
    text-shadow:
        -.25px .25px 0 #262322,
        -.5px .5px 0 var(--accent),
        -.75px .75px 0 var(--accent),
        -1px 1px 0 var(--accent),
        -1.25px 1.25px 0 var(--accent),
        -1.5px 1.5px 0 var(--accent),
        -1.75px 1.75px 0 var(--accent),
        -2px 2px 0 var(--accent),
        -2.25px 2.25px 0 var(--accent),
        -2.5px 2.5px 0 var(--accent),
        -2.75px 2.75px 0 var(--accent),
        -3px 3px 0 var(--accent);
    filter: drop-shadow(calc(var(--scale) / -5) calc(var(--scale) / 2.5) calc(var(--scale) / 2) var(--dropShadowMark));
}

#charSelectX:focus-visible {
    box-shadow: 0 0 calc(var(--scale) * .7) calc(var(--scale) * .4) #1a1a1a;
    outline: none;
    border: calc(var(--scale) * .4) solid #1a1a1a;
    border-radius: calc(var(--scale) * .6);
    margin-right: calc(var(--scale) * .8);
}

#charSelectO:focus-visible {
    box-shadow: 0 0 calc(var(--scale) * .7) calc(var(--scale) * .4) #1a1a1a;
    outline: none;
    border: calc(var(--scale) * .4) solid #1a1a1a;
    border-radius: calc(var(--scale) * .6);
    margin-left: calc(var(--scale) * .8);
}

#charSelectO:focus,
#charSelectX:focus,
.score {
    outline: none;
}

.informationbar {
    background-color: var(--rectColor);
    border-radius: calc(var(--squarewidth) / 10);
}

.gameinfo {
    width: var(--gridwidth);
    height: calc(var(--squarewidth) / 2);
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    transition: opacity .25s ease-in-out;
}

.game.moveleft {
    transform: translateX(calc(-.5 * ((var(--scale) * 7.7) - var(--lightwidth))));
    transition: transform .5s ease-out;
}

.informationbar.movedown {
    transform: translateY(var(--gameinfoY));
    transition: transform .5s ease-out;
}

.informationbar.moveup {
    transform: translateY(calc( -1 * var(--gameinfoY) ));
    transition: transform .5s ease-out;
}

.darkSwitch.movedown {
    transform: translateY(calc(.5vmin + var(--winsheight)));
    transition: transform .5s ease-out;
}

.reset:focus-visible {
    box-shadow: 0 0 calc(var(--scale) * 1) calc(var(--scale) * .3) #1a1a1a;
    outline: none;
}

.selections {
    margin-right: calc(var(--gridwidth) * 0.035);
    display: flex;
    flex-direction: column;
}

.score {
    margin-bottom: .5vmin;
    opacity: 0;
    transition: opacity .5s ease-in;
    cursor: pointer;
}

.wins {
    width: calc(var(--scale) * 7.7);
    height: var(--winsheight);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.count {
    font-size: calc(var(--scale) * 2.7);
    opacity: 0;
    transition: opacity .5s ease-in;
}

.addButton {
    width: 35px;
    height: 35px;
    background: var(--rectColor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton:before {
    content: ' ';
    width: 15px;
    height: 5px;
    background: var(--accent);
    display: inline-block;
    border-radius: 2px;
    position: absolute;
}

.addButton:after {
    position: absolute;
    content: ' ';
    width: 15px;
    height: 5px;
    background: var(--accent);
    display: inline-block;
    border-radius: 2px;
    transform: rotate(90deg);
}

.darken {
    transition: all .5s ease-in;
    filter: drop-shadow(calc(var(--scale) / -5) calc(var(--scale) / 2.5) calc(var(--scale) / 2) var(--dropShadowMark)) brightness(0.25);
}

.rainbow {
    animation: rainbow 1s forwards infinite;
}

#toggleSwitch {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
}

input[type="checkbox"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    background: var(--rectColor);
    width: var(--lightwidth);
    height: var(--lightheight);
    border-radius: calc(var(--lightheight) / 1.5);
    margin: 0;
    cursor: pointer;
}

:focus {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
}

input:focus-visible {
    box-shadow: 0 0 3px 2px #1a1a1a;
}

input:checked[type="checkbox"] {
    background: rgba(0, 0, 0, 0.15);
}

input[type="checkbox"]:before {
    float: left;
    width: var(--lightheight);
    height: var(--lightheight);
    border-radius: 50%;
    background: var(--accent);
    display: block;
    content: ' ';
    transform: scale(.75);
    transform-origin: center center;
}

input:checked[type="checkbox"]:before {
    float: right;
    width: var(--lightheight);
    height: var(--lightheight);
    border-radius: 50%;
    background: var(--accent);
    display: block;
    content: ' ';
    transform: scale(.75);
    transform-origin: center center;
}

.fadein {
    opacity: 1;
}

.popup.fadeout {
    transition-delay: 0ms;
}

.fadeout {
    opacity: 0;
}

.hidden {
    display: none;
}

.visible {
    opacity: 1;
}

@keyframes grow-shrink {
    0%      { transform: scale(0); }
    50%     { transform: scale(1.42); opacity: .07; }
    100%    { transform: scale(0); opacity: 0; }
}

@keyframes blip {
    0%      { transform: scale(1); }
    50%     { transform: scale(.975); }
    100%    { transform: scale(1); }
}

@keyframes shrink-grow {
    0%      { transform: scale(1); }
    50%     { transform: scale(.75); }
    100%    { transform: scale(1); }
}

@keyframes shrink-grow-o {
    0%      { transform: scale(1); }
    50%     { transform: scale(.75); }
    100%    { transform: scale(1); }
}

@keyframes rainbow {
    0% { filter: hue-rotate(0deg); }
    50% { filter: hue-rotate(360deg); }
    100% { filter: hue-rotate(0deg); }
}

@media screen and (max-width: 750px) {

    :root {
        --scale: 1.4vmin;
    }

}

@media screen and (min-width: 750px) {
    
    :root {
        --scale: 1vmin;
    }

}

:root {
    --fontsize: calc(var(--scale) * 5);
    --squarewidth: calc(var(--scale) * 15);

    --gridwidth: calc(var(--squarewidth) * 3 + (var(--square_margin) * 6));
    --marginbottom: calc(var(--gridwidth) * .0175);
    --square_margin: calc(var(--squarewidth) * 0.0125);
    --gameinfoY: calc(calc((var(--gridwidth) / 2) + (var(--marginbottom) / 2)));
    --dropShadowMark: black;
    --margin: 1em;

    --red_color: #fb6666;
    --green_color: #66fb9a;

    --winsheight: calc(var(--scale) * 4.5);
    --lightwidth: calc(var(--winsheight) * 1.45);
    --lightheight: calc(var(--lightwidth) * .44);
}

.light {
    --rectColor: rgba(29, 29, 29, 0.15);
    --bgColor: #ebebeb;
    --accent: #262322;
    --shadowColor: #1a1a1a;
}

.dark {
    --rectColor: rgba(0, 0, 0, 0.3);
    --bgColor: #1c1c1c;
    --accent: #ebebeb;
    --shadowColor: #ebebeb;
}

.blue {
    --rectColor: rgba(70, 70, 70, 0.09);
    --bgColor: #151822;
}